<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <!-- we import arjs version without NFT but with marker + location based support -->
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
    <script>
      window.onload = function() {
        var entity = document.querySelector('#ARvideo');
        document
          .querySelector(".say-hi-button")
          .addEventListener("click", function() {
            console.log('clicked')
            entity ? console.log('exists') : console.log('no')
            /* if (entity !== null) { // Possibility of no video loaded in DOM
               entity.onplay = function () {
              console.log({entity})
               entity.play()
            };
            else{
              alert("hoo");
            } */
          });
      };
    </script>
  </head>
  <body style="margin : 0px; overflow: hidden;">
    {{{body}}}
  </body>
</html>
